<h2>Home Page</h2>

<p>
    This app allows the user to CRUD two small JSON data bases of dinosaurs and prehistoric creatures. <br>
    Use the above navigation bar to use the app and edit the JSON data.
</p>