<form action="/prehistoric_creatures" method="POST">
    <label for="creatureUrl">Image Url</label>
    <input type="text" id="creatureUrl" img_url="img_url">

    <label for="creatureType">Type</label>
    <input type="text" name="type" id="creatureType">

    <input type="submit" value="addCreature">
</form>